@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/roboto-300.woff2') format('woff2'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-400.woff2') format('woff2'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/roboto-700.woff2') format('woff2'),
}

body, html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:focus {
    outline: 0;
}

.font-300 {
    font-family: 'Roboto';
    font-weight: 300;
}

.font-400 {
    font-family: 'Roboto';
    font-weight: 400;
}

.font-700 {
    font-family: 'Roboto';
    font-weight: 700;
}

main {
    width: 874px;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header {
    color: #909090;
    line-height: 1.15em;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 3em;
    padding-bottom: 0;
    padding-top: 0;
}

header a { 
    color: #000;
}

header h1 {
    color: #909090;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

header h1 span {
    font-size: 1.4rem;
}

article {
    border: 3px solid #dcdcdc;
    padding: 0.75em;
    display: flex;
}

article img {
    width: 206px;
    min-width: 206px;
    height: 206px;
}

article aside {
    margin-top: 0.3em;
    margin-left: 0.75em;
    width: 100%;
}

article aside h2 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    font-size: 1.1em;
    color: #525252;
}

article aside h2:before {
    content: "";
    width: 30px;
    height: 30px;
    margin-right: 0.4em;
    background-color: #dcdcdc;
    background-image: url("./assets/playlist.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

article aside ul {
    padding: 0;
    height: 101px;
    margin: 1em 0;
}

article aside ul li {
    list-style: none;
    display: flex;
    align-items: center;
    color: #777777;
}

article aside ul li:not(:last-of-type) {
    margin-bottom: 0.5em;
}

article aside ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #dcdcdc;
    margin-right: 0.5em;
}

article aside ul li b {
    color: currentColor;
    font-size: 0.9em;
    margin-right: 4px;
}
article aside ul li a {
    color: currentColor;
}
article aside ul li a:not(:first-of-type) {
    margin-left: 0.25em;
}

article aside div {
    display: flex;
    justify-content: space-between;
}

article aside div a {
    width: calc(25% - 0.75em);
    height: 35px;
    color: #7d7d7d;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    border: 2px solid #dcdcdc;
    font-size: 1em;
    transition: letter-spacing 175ms;
}

article aside div a:last-of-type svg {
    width: 22px;
    height: 22px;
    top: -14px;
}

article aside div a:hover {
    letter-spacing: 2px;
}

article aside div a:hover:before {
    width: 28px;
}


article aside div a:before {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    top: -3px;
    transition: width 175ms;
    background-color: #ffffff;
}

article aside div a svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -11px;
    right: -2px;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    color: #dcdcdc;
}

footer {
    display: flex;
    margin-left: -2px;
    margin-top: 3em;
    justify-content: space-between;
    width: calc(100% + 2px);
}

footer a svg {
    width: 30px;
    height: 30px;
}

footer a:hover svg path {
    opacity: 1;
}

footer a svg path {
    fill: #999999;
    opacity: 0.6;
    transition: opacity 175ms;
}

@media only screen and (max-width: 900px) {
    main {
        width: 650px;
    }
    article img {
        width: 265px;
        min-width: 265px;
        height: 265px;
    }
    article aside div {
        flex-wrap: wrap;
    }
    article aside div a {
        width: calc(50% - 0.75em);
    }
    article aside div a:nth-of-type(1),article aside div a:nth-of-type(2) {
        margin-bottom: 19px;
    }
}

@media only screen and (max-width: 680px) {
    main {
        width: 380px;
        position: unset;
        left: unset;
        top: unset;
        transform: unset;
        margin-top: 1.5rem;
    }
    article img {
        width: 348px;
        min-width: 348px;
        height: 348px;
    }
    article aside {
        margin-left: 7px;
        width: calc(100% - 16px);
    }
    header {
        margin-bottom: 2em;
    }
    article {
        flex-direction: column;
    }
    footer { 
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 410px) {
    main {
        width: 290px;
    }
    body {
        font-size: 0.78rem;
    }
    header {
        margin-bottom: 1em;
        font-size: 1.170rem;
        line-height: 1.5rem;
    }
    header h1 { 
        font-size: 1.76rem;
    }
    
    header h1 span {
        font-size: 1.3rem;
    }
    article img {
        width: 262px;
        min-width: 262px;
        height: 262px;
    }
    article aside {
        width: 100%;
        margin-top: 0.5rem;
    }
    article aside div {
        width: calc(100% - 16px);
    }
    article aside ul {
        margin-bottom: 0.15em;
    }
    article aside h2:before {
        width: 24px;
        height: 24px;
        background-size: 18px;
    }
    article aside ul li:before {
        display: none;
    }
    footer a svg {
        width: 22px;
        height: 22px;
    }
}

@media only screen and (max-height: 580px) { 
    header {
        margin-bottom: 1.5rem;
    }
    footer { 
        margin-top: 1.5rem;
        padding-bottom: 1rem;
    }
}